<div class ="page-content">
  <div class = "container">
   <h1 class = "text-center pt-4">Listing all Blog</h1>
     <p id="notice" class="text-center text-success"><%= notice %></p>
    <% @blogs.each do |blog| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-body rounded">
            <div class="card-header fst-italic rails-link">
              <% if blog.user %>
              by <strong><%= link_to blog.user.username, user_path(blog.user) , class: "rails-link text-success" %></strong>
            <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to blog.title ,blog ,class: "text-success rails-link" %></h5>
              <p class="card-text"><%= truncate(blog.description , length:120) %></p>
              <%= link_to 'View' , blog , class: " btn btn-outline-primary" %>
              <% if logged_in? && (blog.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-outline-success" %>
                <%= link_to "Delete", blog_path(blog), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <small> Created <%= time_ago_in_words(blog.created_at)%> ,
                      Edited  <%= time_ago_in_words(blog.updated_at)%>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

